.s10{font-size: 10px;}
.s12{font-size: 12px;}
.s14{font-size: 14px;}
.s16{font-size: 16px;}
.s18{font-size: 18px;}
.s20{font-size: 20px;}
.s24{font-size:24px;}
.s28{font-size:28px;}
.s32{font-size:32px;}

.w400{font-weight:400;}
.w600{font-weight:600;}
.w700{font-weight:700;}
.w800{font-weight:800;}