@import '../../assets/scss/styles.scss';

.widget{
	background:white;
	box-shadow: 0px 5px 10px #F1F2FA;
	border-radius: 8px;

	>.title{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding:20px 10px 20px 20px;

		border-bottom:1px solid #ededed;

		>h1{
			color:#1C1F37;
		}

		>button{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap:8px;
			color:#017EFA;
			min-width: 105px;
			// background:orange;
			// text-align: right;


			>svg{
				width:16px;
			}
		}
	}

	>.content{
		padding:20px 20px 48px 20px;
	}
	
}